################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/A1/.vs/A1/FileContentIndex/f75a3529-c264-4e1e-912b-e58a89acdd28.vsidx
/A1/.vs/A1/FileContentIndex/3e7eb17e-5c6b-43f6-8f59-fe4b744b0352.vsidx
