################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/A1/.vs/A1/FileContentIndex/4e87d083-b140-4775-ad18-e4259d1f4d4c.vsidx
