################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/A1/.vs/A1/FileContentIndex/f75a3529-c264-4e1e-912b-e58a89acdd28.vsidx
